 <div class="user-details">
  <p> I am an aspiring Data Scientist who loves all things NLG and Data Science!
      I was a SDE intern at Amazon India, (Jan-June 2023) during which I learnt about A/B testing and got to see it in action! 
      This combined with the projects I worked on during my undergrad led me to pursue a Masters in Data Science.
      I was also an intern at Nasdaq (Jun 2022-Aug 2022) where I worked on back end development using Python.
  </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Programming Languages</h2>
      <i class="devicon-python-plain"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-r-original colored"></i>
      <p> I enjoy developing applications, particularly data related applications.</p>
    </div>
    <div class="tech">
      <h2>Frameworks</h2>
      <i class="devicon-pytorch-original colored"></i>
      <i class="devicon-flask-original-wordmark"></i>
      <i class="devicon-pandas-original-wordmark"></i>
      <p> I have experience working with popular data analysis, machine learning and natural language processing libraries and frameworks
        including scikitlearn, NLTK, Spacy and HuggingFace.
      </p>
    </div>
    <div class="tech">
      <h2>Tools and Platforms</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <p>I am always game for learning to develop on new platforms!</p>
    </div>
</div>
